### emacs backup, temporary ###
*~
\#*
.#*

### Several languages ###
build/

### C++ ###
*.out
*.cmake
CMakeFiles
CMakeCache.txt
cpp/*/Makefile
*.o

### Java ###
*.class
.gradle/

### Lisp ###
*.fasl

### Haskell ###
.stack-work
*.cabal
